@import '../base.css';

.content-panel {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: minmax(auto, 900px);
  height: calc(100vh - var(--header-height));
  overflow: auto;
  background-color: #ecf0f1;
}

.inner-content {
  margin: 100px var(--master-padding);
  padding: 30px 20px;
  background-color: white;
  font-size: 18px;
  color: black;
  line-height: 1.8;
}

.inner-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
